
.gridwrapper {
  //margin-top: 90px;
  //margin-left: 240px;
  background-image: url("/assets/offer-background.svg");
  background-repeat: no-repeat;
  background-size:  100%;
  margin-bottom: 0px;

  width: calc(100%);
  max-width: 100%;

  min-height: calc(80vh);

  padding: 35px 35px 100px;
}

.contentrow {
  margin-bottom: 0px;

  width: calc(100%);
  max-width: 100%;

  min-height: calc(70vh);

  padding: 35px 35px 100px;
}

.global-style-background {
  background-color: #31cfda;
}

.global-style-background-opacity {
  background-color: #33c3c8;
}

.show-me-the-full-com {
  width: 219px;
  height: 16px;
  margin: 0 11px 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #31cfda;
}

.checkboxtext
{
  /* Checkbox text */
  height: 95%;
  width: 40%;
  min-width: 55px;
  max-width: 55px;
  background-color: rgba(255, 255, 255, 0.2);
}

.padding-offer-button {
  padding: 25px 0px 25px 0px;
}

.image-valid {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  object-fit: contain;
}


.image-valid-universe {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  object-fit: contain;
  fill: red !important;
  color: red !important
}

.universe-card-body {
  background-color: #F7F9F8;
}
