<div class="gridwrapper w-100 text-center">
  <div class="row">
      <div class=" d-flex justify-content-center">
        <p class=" d-flex justify-content-end text-white my-auto" [ngClass]="{'text-white-50' : isChecked }">PAY MONTHLY</p>
        <div class="col-md-2 form-check form-switch d-flex justify-content-center mx-2">
          <input class="form-check-input checkboxtext" type="checkbox" checked="false" (change)="checkValue($event)">
        </div>
        <p class=" d-flex justify-content-start text-white  my-auto" [ngClass]="{'text-white-50' : !isChecked }">PAY YEARLY</p>
      </div>

  </div>
  <div class="row contentrow justify-content-between text-center">
    <div class="col d-flex justify-content-lg-end justify-content-sm-center global-style text-light mt-2">
      <div class="card global-style-background" style="width: 18rem;">
        <ul class="list-group list-group-flush global-style-background">

          <div class="card-body">
            <h4 class="card-title ">Global</h4>
          </div>
          <li class="list-group-item global-style-background"></li>

          <div class="card-body global-style-background-opacity">
            <h1 class="card-title">{{isChecked ? globalPrice : globalPriceMonthly }}<span>&#8364;</span></h1>
            <p class="card-text">{{isChecked ? yearlyIncludingTaxesMessage : monthlyIncludingTaxesMessage}}</p>
          </div>

          <li class="list-group-item global-style-background-opacity"></li>
          <li class="list-group-item global-style-background text-light">Maximum duration travel of 90 days</li>
          <li class="list-group-item global-style-background text-light">Medical expenses reimbursement up to 1.000.000 €</li>
          <li class="list-group-item global-style-background text-light">Personal assistance abroad up to 5.000 €</li>
          <li class="list-group-item global-style-background text-light">Travel assistance abroad up to 1.000 €
            per insured per travel</li>
          <li class="list-group-item global-style-background text-light">Coverage duration: 1 year</li>
        </ul>
        <div class="row justify-content-center my-auto padding-offer-button">
          <button class="btn btn-light text-info w-50 justify-content-center my-auto d-flex" (click)="globalPlanSelectionToggle(true)">
            <img *ngIf="globalSelected" src="assets/img-valid.svg" class="image-valid my-auto">
            {{globalSelected ? 'Plan selected' : 'Choose this plan'}}
          </button>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-lg-start justify-content-sm-center mt-2">
      <div class="card universal-style" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <div class="card-body">
            <h4 class="card-title ">Universal</h4>
          </div>
          <li class="list-group-item"></li>

          <div class="card-body universe-card-body text-info">
            <h1 class="card-title">{{isChecked ? universalPrice : universalPriceMonthly}}<span>&#8364;</span></h1>
            <p class="card-text">{{isChecked ? yearlyIncludingTaxesMessage : monthlyIncludingTaxesMessage}}</p>
          </div>

          <li class="list-group-item universe-card-body"></li>

          <li class="list-group-item">Maximum duration travel of 180 days</li>
          <li class="list-group-item">Medical expenses reimbursement up to 3.000.000 €</li>
          <li class="list-group-item">Personal assistance abroad up to 10.000 €</li>
          <li class="list-group-item">Travel assistance abroad up to 2.500 €
            per insured per travel</li>
          <li class="list-group-item">Coverage duration: 1 year</li>

        </ul>

        <div class="row justify-content-center my-auto padding-offer-button">
          <button class="btn btn-info text-light w-50 justify-content-center my-auto d-flex" (click)="globalPlanSelectionToggle(false)">
            <img *ngIf="!globalSelected" src="assets/img-valid-universe.svg" class="image-valid-universe my-auto">
            {{!globalSelected ? 'Plan selected' : 'Choose this plan'}}
          </button>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="" class="show-me-the-full-com">Show me the full comparison table...</a>
    </div>
  </div>
</div>
